{% extends "base.html" %}

{% block title %}{{ config.title }}{% endblock %}

{% block content %}
{%
set PAGE_NAMES = [
    "program-overview",
    "ram",
    "prg-0",
    "prg-1",
    "prg-2",
    "prg-3",
    "prg-4",
    "prg-5",
    "prg-6",
    "prg-7",
    "rng",
    "planet",
    "ally-fleets",
    "enemy-fleets",
    "guard",
    "enemy-strategy",
    "battle",
]
%}

<header>{{ config.title }}</header>

<p>お約束:</p>

<ul>
  <li>特に断らない場合、除算および平方根は小数点以下切り捨てとする。</li>
  <li>特に断らずに「敵艦隊」と言った場合、敵第1〜15艦隊のみを指す(敵惑星駐留艦隊は含まない)。</li>
  <li>特に断らずに「食料」「エネルギー」「ダメージ」と言った場合、単位は1個艦隊に対する % とする(内部的にも同じ方式で管理されている)。</li>
  <li>特に断らずに「兵力」と言った場合、単位は1個艦隊に対する % とする(内部的にも同じ方式で管理されている)。</li>
</ul>

<h2>Contents</h2>

<ul>
{% for name in PAGE_NAMES %}
{% set page = get_page(path=name~"/index.md") %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
{% endfor %}
</ul>

<h2>Link</h2>

<ul>
  <li><a href="https://taotao54321.github.io/LoghBattle/">戦闘シミュレーター</a></li>
</ul>

<p>この文書は<a href="https://github.com/taotao54321/LoghResource">gitリポジトリ</a>で管理されている。誤りの指摘などは Issue へどうぞ。</p>
{% endblock %}
